.styledGuildsAsChannels-DNHtg_ .guilds-1SWlCJ .scrollerBase-289Jih {
  padding-top: 8px;
  background-color: var(--sgac-background-color) !important;
}
.styledGuildsAsChannels-DNHtg_ .wrapper-shyHJt .listItem-2Ig28I {
  width: 220px !important;
}
.styledGuildsAsChannels-DNHtg_ .wrapper-shyHJt .expandedFolderBackground-3ZDF05 {
  width: 220px !important;
  left: 8px !important;
  background-color: rgb(var(--sgac-background-light)) !important;
  border-top-style: solid;
  border-top-width: 36px;
  border-top-color: rgba(var(--sgac-text-color), 0.1);
}
.styledGuildsAsChannels-DNHtg_ .wrapper-shyHJt .expandedFolderBackground-3ZDF05.collapsed-2Zqqnx {
  background-color: rgb(var(--sgac-background-dark)) !important;
  border-top-style: none;
}
.styledGuildsAsChannels-DNHtg_ .wrapper-shyHJt:hover .expandedFolderBackground-3ZDF05.collapsed-2Zqqnx {
  background-color: rgb(var(--sgac-accent)) !important;
}
.styledGuildsAsChannels-DNHtg_ .childWrapper-anI2G9 .numberBadge-2s8kKX {
  background-color: rgba(var(--sgac-text-color), 0.2) !important;
}
.styledGuildsAsChannels-DNHtg_ div[aria-label=Servers] .listItem-2Ig28I {
  margin-bottom: 8px !important;
}
.styledGuildsAsChannels-DNHtg_ div[aria-label=Servers] .folder-1hbNCn,
.styledGuildsAsChannels-DNHtg_ div[aria-label=Servers] .wrapper-1BJsBx {
  background-color: transparent !important;
  background: transparent !important;
}
.styledGuildsAsChannels-DNHtg_ div[aria-label=Servers] .childWrapper-anI2G9 {
  color: rgba(var(--sgac-text-color), 0.65);
}
.styledGuildsAsChannels-DNHtg_ div[aria-label=Servers] .wrapper-shyHJt .listItem-2Ig28I .folder-2w6LX1,
.styledGuildsAsChannels-DNHtg_ div[aria-label=Servers] .wrapper-shyHJt .listItem-2Ig28I .childWrapper-anI2G9 {
  background-color: transparent !important;
  background: transparent !important;
}
.styledGuildsAsChannels-DNHtg_ div[aria-label=Servers] > .listItem-2Ig28I {
  margin-bottom: 4px !important;
  margin-top: -2px !important;
}
.styledGuildsAsChannels-DNHtg_ div[aria-label=Servers] > .listItem-2Ig28I .wrapper-1BJsBx {
  height: 36px !important;
}
.styledGuildsAsChannels-DNHtg_ div[aria-label=Servers] > .listItem-2Ig28I .wrapper-1BJsBx .childWrapper-anI2G9 {
  height: 36px !important;
  padding-left: 12px !important;
  flex-direction: row-reverse !important;
  background: rgb(var(--sgac-background-dark)) !important;
  border-radius: 0 !important;
}
.styledGuildsAsChannels-DNHtg_ div[aria-label=Servers] .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
  background-color: rgb(var(--sgac-accent)) !important;
  color: rgb(var(--sgac-text-color)) !important;
}
.styledGuildsAsChannels-DNHtg_ .betterFolders-customIcon {
  background-size: 36px;
}
.styledGuildsAsChannels-DNHtg_ .guilds-1SWlCJ .wrapper-shyHJt .icon-GhnIRB {
  display: none;
}
.styledGuildsAsChannels-DNHtg_ .guilds-1SWlCJ .folderIconWrapper-1Ml_1q {
  background-color: transparent !important;
  background: transparent !important;
  margin-right: -8px;
}
.styledGuildsAsChannels-DNHtg_ .wrapper-1BJsBx .childWrapper-anI2G9 .homeIcon-AaowEC {
  display: none !important;
}
.styledGuildsAsChannels-DNHtg_ .guilds-1SWlCJ .listItem-2Ig28I {
  margin-bottom: 4px !important;
}
.styledGuildsAsChannels-DNHtg_ .guilds-1SWlCJ .listItem-2Ig28I foreignObject {
  width: 22px !important;
}
.styledGuildsAsChannels-DNHtg_ .guilds-1SWlCJ .circleIconButton-hZmpE8 {
  width: 220px !important;
  background-color: rgb(var(--sgac-background-dark)) !important;
  border-radius: 4px !important;
  padding: 4px !important;
  height: 36px !important;
  position: relative;
}
.styledGuildsAsChannels-DNHtg_ .guilds-1SWlCJ .circleIconButton-hZmpE8 * {
  color: rgba(var(--sgac-text-color), 0.65) !important;
}
.styledGuildsAsChannels-DNHtg_ .guilds-1SWlCJ .circleIconButton-hZmpE8 svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
}
.styledGuildsAsChannels-DNHtg_ .guilds-1SWlCJ .circleIconButton-hZmpE8 ~ .childWrapper-anI2G9 {
  border: none !important;
  background: transparent !important;
  background-color: transparent !important;
}
.styledGuildsAsChannels-DNHtg_ .guilds-1SWlCJ .circleIconButton-hZmpE8.selected-3mFF3I {
  background-color: rgb(var(--sgac-accent)) !important;
}
.styledGuildsAsChannels-DNHtg_ .guilds-1SWlCJ .circleIconButton-hZmpE8.selected-3mFF3I .childWrapper-anI2G9 * {
  color: rgb(var(--sgac-text-color)) !important;
}
.styledGuildsAsChannels-DNHtg_ .guilds-1SWlCJ {
  overflow: hidden;
}
.styledGuildsAsChannels-DNHtg_ .guilds-1SWlCJ::before {
  display: none !important;
}

.guilds-1SWlCJ {
  overflow: visible;
}
.guilds-1SWlCJ::before {
  background-image: url("https://github.com/PINPAL/StyledGuildsAsChannels/blob/main/images/warning.png?raw=true");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  content: "Error!\a\a\a DisplayServersAsChannels is not installed or enabled.";
  white-space: pre-wrap;
  text-align: center;
  z-index: 4;
  display: block;
  width: 56px;
  height: 56px;
  background-color: #f04747;
  color: transparent;
  margin: 8px;
  margin-bottom: 16px;
  border-radius: 6px;
  font-size: 0%;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out, color 0.65s ease-in-out;
}
.guilds-1SWlCJ:hover::before {
  background-position: 16px 12px;
  box-shadow: inset 0 calc(16px + 2rem) 0px 0px rgba(0, 0, 0, 0.25), 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  padding: 16px 8px;
  padding-top: -60px;
  font-weight: 500;
  color: white;
  width: 220px;
  height: calc(32px + 4em);
  font-size: 100%;
}
