/* customisable variables */
:root {
  --sgac-accent: 59, 165, 92;
  --sgac-text-color: 249, 249, 249;
  --sgac-background-light: 49, 50, 53;
  --sgac-background-dark: 34, 35, 38;
  --sgac-background-color: #16171a;
}

/* extra top padding & background */
.styledGuildsAsChannels-DNHtg_ .da-guilds .da-scroller,
.styledGuildsAsChannels-DNHtg_ .guilds-1SWlCJ .scrollerBase-289Jih {
  padding-top: 8px;
  background-color: var(--sgac-background-color) !important;
}

/* Uniform Width */
.styledGuildsAsChannels-DNHtg_ .da-wrapper .da-listItem,
.styledGuildsAsChannels-DNHtg_ .wrapper-3Njo_c .listItem-GuPuDH {
  width: 220px !important;
}

/* Folder Background */
.styledGuildsAsChannels-DNHtg_ .da-wrapper .da-expandedFolderBackground,
.styledGuildsAsChannels-DNHtg_
  .wrapper-3Njo_c
  .expandedFolderBackground-1cujaW {
  width: 220px !important;
  left: 8px !important;
  background-color: rgba(var(--sgac-background-light), 1) !important;
  border-top-style: solid;
  border-top-width: 36px;
  border-top-color: rgba(var(--sgac-text-color), 0.1);
}
.styledGuildsAsChannels-DNHtg_
  .da-wrapper
  .da-expandedFolderBackground.da-collapsed,
.styledGuildsAsChannels-DNHtg_
  .wrapper-3Njo_c
  .expandedFolderBackground-1cujaW.collapsed-2ZrjoL {
  background-color: rgba(var(--sgac-background-dark), 1) !important;
  border-top-style: none;
}

/* Servers not in folders */
.styledGuildsAsChannels-DNHtg_ .da-childWrapper,
.styledGuildsAsChannels-DNHtg_ .childWrapper-anI2G9 {
  background: rgba(var(--sgac-background-dark), 1) !important;
  color: rgba(var(--sgac-text-color), 0.65) !important;
  border-radius: 0 !important;
}

/* Folder Server Lists */
.styledGuildsAsChannels-DNHtg_
  [aria-label="Servers"]
  .da-wrapper
  .da-listItem
  .da-childWrapper,
.styledGuildsAsChannels-DNHtg_
  [aria-label="Servers"]
  .wrapper-3Njo_c
  .listItem-GuPuDH
  .childWrapper-anI2G9,
  .styledGuildsAsChannels-DNHtg_ .folder-1hbNCn {
  background-color: transparent !important;
}
.styledGuildsAsChannels-DNHtg_
  [aria-label="Servers"]
  .da-wrapper
  .da-listItem
  .da-folder[aria-expanded="true"]
  .da-childWrapper,
.styledGuildsAsChannels-DNHtg_
  [aria-label="Servers"]
  .wrapper-sa6paO
  .listItem-GuPuDH
  .da-folder[aria-expanded="true"]
  .childWrapper-anI2G9 {
  background-color: rgba(var(--sgac-text-color), 0.1) !important;
  color: rgba(var(--sgac-text-color), 1) !important;
}

/* Selected Servers (in & outside folders) */
.styledGuildsAsChannels-DNHtg_ .da-wrapper.da-selected .da-childWrapper,
.styledGuildsAsChannels-DNHtg_
  [aria-label="Servers"]
  .da-wrapper
  .da-listItem
  .da-wrapper.da-selected
  .da-childWrapper,
.styledGuildsAsChannels-DNHtg_
  .wrapper-1BJsBx.selected-bZ3Lue
  .childWrapper-anI2G9,
.styledGuildsAsChannels-DNHtg_
  [aria-label="Servers"]
  .wrapper-3Njo_c
  .listItem-GuPuDH
  .wrapper-1BJsBx.selected-bZ3Lue
  .childWrapper-anI2G9 {
  background-color: rgba(var(--sgac-accent), 1) !important;
  color: rgba(var(--sgac-text-color), 1) !important;
}

/* smaller custom folder icons */
.styledGuildsAsChannels-DNHtg_ .betterFolders-customIcon,
.styledGuildsAsChannels-DNHtg_ .betterFolders-customIcon {
  background-size: 30px;
}
/* hide original folder icons */
.styledGuildsAsChannels-DNHtg_ .da-guilds .da-wrapper .icon-GhnIRB,
.styledGuildsAsChannels-DNHtg_ .guilds-1SWlCJ .wrapper-3Njo_c .icon-GhnIRB {
  display: none;
}
.styledGuildsAsChannels-DNHtg_ .da-guilds .da-folder,
.da-folderIconWrapper,
.styledGuildsAsChannels-DNHtg_ .guilds-1SWlCJ .da-folder,
.folderIconWrapper-1_bOZe {
  background-color: transparent !important;
  margin-right: -8px;
}

/* hide giant discord logo on "Home" button */
.styledGuildsAsChannels-DNHtg_ .da-wrapper .da-childWrapper .da-homeIcon,
.styledGuildsAsChannels-DNHtg_
  .wrapper-1BJsBx
  .childWrapper-anI2G9
  .homeIcon-FuNwkv {
  display: none !important;
}

/* "Add a Server" & "Explore Public Servers" buttons */
.styledGuildsAsChannels-DNHtg_ .da-guilds .da-circleIconButton,
.styledGuildsAsChannels-DNHtg_ .guilds-1SWlCJ .circleButtonBase-2DCxIZ {
  background-color: rgba(var(--sgac-background-dark)) !important;
  border-radius: 4px !important;
  padding: 8px !important;
  height: 32px !important;
  position: relative;
}
.styledGuildsAsChannels-DNHtg_ .da-guilds .da-circleIconButton *,
.styledGuildsAsChannels-DNHtg_ .guilds-1SWlCJ .circleButtonBase-2DCxIZ * {
  color: rgba(var(--sgac-text-color), 0.65) !important;
}
.styledGuildsAsChannels-DNHtg_ .da-guilds .da-circleIconButton svg,
.styledGuildsAsChannels-DNHtg_ .guilds-1SWlCJ .circleButtonBase-2DCxIZ svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
}
.styledGuildsAsChannels-DNHtg_ .da-guilds .da-circleIconButton .da-childWrapper,
.styledGuildsAsChannels-DNHtg_
  .guilds-1SWlCJ
  .circleButtonBase-2DCxIZ
  .childWrapper-anI2G9 {
  border: none !important;
  background: transparent !important;
}
/* hover & selected effects */
.styledGuildsAsChannels-DNHtg_ .da-guilds .da-circleIconButton.da-selected,
.styledGuildsAsChannels-DNHtg_
  .guilds-1SWlCJ
  .circleButtonBase-2DCxIZ.selected-1JjBPm {
  background-color: rgba(var(--sgac-accent), 1) !important;
}
.styledGuildsAsChannels-DNHtg_
  .da-guilds
  .da-circleIconButton.da-selected
  .da-childWrapper
  *,
.styledGuildsAsChannels-DNHtg_
  .guilds-1SWlCJ
  .circleButtonBase-2DCxIZ.selected-1JjBPm
  .childWrapper-anI2G9
  * {
  color: rgba(var(--sgac-text-color), 1) !important;
}
