/**
 * @name StyledGuildsAsChannels
 * @author PINPAL
 * @version 2.0.1
 * @description Custom Styles for DisplayServersAsChannels Plugin by DevilBro
 * @website https://pinpal.github.io
 * @source https://github.com/PINPAL/StyledGuildsAsChannels
 * @donate https://paypal.me/THEPINPAL
 * @authorLink https://twitter.com/TPINPAL
*/

@import url(https://pinpal.github.io/StyledGuildsAsChannels/source.css);

/* customisable variables */
:root {
  --sgac-accent: 59, 165, 92;
  --sgac-text-color: 249, 249, 249;
  --sgac-background-light: 49, 50, 53;
  --sgac-background-dark: 34, 35, 38;
  --sgac-background-color: #16171a;
}
