/**
 * @name StyledGuildsAsChannels
 * @author PINPAL#5245
 * @version 2.0.0
 * @description Custom Styles for DisplayServersAsChannels Plugin by DevilBro
 * @website https://pinpal.github.io
*  @source https://github.com/PINPAL/StyledGuildsAsChannels
*  @donate https://paypal.me/THEPINPAL
*/

@import url(https://raw.githubusercontent.com/PINPAL/StyledGuildsAsChannels/main/source.css);

/* customisable variables */
:root {
  --accent: 59, 165, 92;
  --text-color: 249, 249, 249;
  --background-light: 49, 50, 53;
  --background-dark: 34, 35, 38;
  --background-color: #16171a;
}
