.styledGuildsAsChannels-DNHtg_ {
  // extra top padding & background
  .guilds-2JjMmN .scrollerBase-_bVAAt {
    padding-top: 8px;
    background-color: var(--sgac-background-color) !important;
  }

  .wrapper-38slSD {
    // Uniform width
    .listItem-3SmSlK {
      width: 220px !important;
    }

    // Folder background
    .expandedFolderBackground-1kSAf6 {
      width: 220px !important;
      left: 8px !important;
      background-color: rgb(var(--sgac-background-light)) !important;
      border-top-style: solid;
      border-top-width: 36px;
      border-top-color: rgba(var(--sgac-text-color), 0.1);
      &.collapsed-uGXEbi {
        background-color: rgb(var(--sgac-background-dark)) !important;
        border-top-style: none;
      }
    }

    // Folder background hover effect
    &:hover .expandedFolderBackground-1kSAf6.collapsed-uGXEbi {
      background-color: rgb(var(--sgac-accent)) !important;
    }
  }

  // Notification badges
  .childWrapper-1j_1ub .numberBadge-2s8kKX {
    background-color: rgba(var(--sgac-text-color), 0.2) !important;
  }

  div[aria-label="Servers"] {
    // Uniform Margin
    .listItem-3SmSlK {
      margin-bottom: 8px !important;
    }
    // Hide all containers
    .folder-241Joy,
    .wrapper-3kah-n {
      background-color: transparent !important;
      background: transparent !important;
    }

    // All Servers
    .childWrapper-1j_1ub {
      color: rgba(var(--sgac-text-color), 0.65);
    }

    // Servers that ARE in folders
    .wrapper-38slSD {
      .listItem-3SmSlK {
        .folder-241Joy,
        .childWrapper-1j_1ub {
          background-color: transparent !important;
          background: transparent !important;
        }
      }
    }

    // Servers NOT in folders
    & > .listItem-3SmSlK {
      margin-bottom: 4px !important;
      margin-top: -2px !important;
      .wrapper-3kah-n {
        height: 36px !important;
        .childWrapper-1j_1ub {
          height: 36px !important;
          padding-left: 12px !important;
          flex-direction: row-reverse !important;
          background: rgb(var(--sgac-background-dark)) !important;
          border-radius: 0 !important;
        }
      }
    }

    // Selected Servers (in & outside folders)
    .wrapper-3kah-n.selected-1Drb7Z {
      .childWrapper-1j_1ub {
        background-color: rgb(var(--sgac-accent)) !important;
        color: rgb(var(--sgac-text-color)) !important;
      }
    }
  }

  // Smaller custom folder icons
  .betterFolders-customIcon {
    background-size: 36px;
  }
  // Hide original folder icons
  .guilds-2JjMmN {
    .wrapper-38slSD .icon-GhnIRB {
      display: none;
    }
    .folderIconWrapper-1oRIZr {
      background-color: transparent !important;
      background: transparent !important;
      margin-right: -8px;
    }
  }

  // Hide giant discord logo on "Home" button
  .wrapper-3kah-n .childWrapper-1j_1ub .homeIcon-r0w4ny {
    display: none !important;
  }

  // "Add a Server" & "Explore Public Servers" buttons
  .guilds-2JjMmN .listItem-3SmSlK {
    margin-bottom: 4px !important;
    foreignObject {
      width: 22px !important;
    }
  }
  .guilds-2JjMmN .circleIconButton-1VxDrg {
    width: 220px !important;
    background-color: rgb(var(--sgac-background-dark)) !important;
    border-radius: 4px !important;
    padding: 4px !important;
    height: 36px !important;
    position: relative;

    * {
      color: rgba(var(--sgac-text-color), 0.65) !important;
    }
    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 14px;
    }
    ~ .childWrapper-1j_1ub {
      border: none !important;
      background: transparent !important;
      background-color: transparent !important;
    }
    // Hover & selected effects
    &.selected-2r1Hvo {
      background-color: rgb(var(--sgac-accent)) !important;

      .childWrapper-1j_1ub * {
        color: rgb(var(--sgac-text-color)) !important;
      }
    }
  }

  // HIDE error message if plugin IS detected
  .guilds-2JjMmN {
    overflow: hidden;
    &::before {
      display: none !important;
    }
  }
}

// SHOW error message if plugin NOT detected
.guilds-2JjMmN {
  overflow: visible;
  &::before {
    background-image: url("https://github.com/PINPAL/StyledGuildsAsChannels/blob/main/images/warning.png?raw=true");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    content: "Error!\a\a\a DisplayServersAsChannels is not installed or enabled.";
    white-space: pre-wrap;
    text-align: center;
    z-index: 4;
    display: block;
    width: 56px;
    height: 56px;
    background-color: rgb(240, 71, 71);
    color: transparent;
    margin: 8px;
    margin-bottom: 16px;
    border-radius: 6px;
    font-size: 0%;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
      color 0.65s ease-in-out;
  }
  &:hover::before {
    background-position: 16px 12px;
    box-shadow: inset 0 calc(16px + 2rem) 0px 0px rgba(0, 0, 0, 0.25),
      5px 5px 15px 5px rgba(0, 0, 0, 0.2);
    padding: 16px 8px;
    padding-top: -60px;
    font-weight: 500;
    color: white;
    width: 220px;
    height: calc(32px + 4em);
    font-size: 100%;
  }
}
